<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				       	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				       	http://www.springframework.org/schema/context 
				       	http://www.springframework.org/schema/context/spring-context-3.0.xsd
					   	http://www.springframework.org/schema/mvc 
					  	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
					  	http://www.springframework.org/schema/aop 
				       	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<context:property-placeholder ignore-unresolvable="true" location="classpath:config/user/pushMsgInfo.properties" file-encoding="UTF-8"/>

	<import resource="classpath:config/main/spring-service.xml" />
	<import resource="classpath:config/main/spring-quartz.xml" />
	<import resource="classpath:config/main/spring-aop.xml" />

	<!-- hc方式 -->
<!-- 	<context:component-scan base-package="/"> -->
<!-- 		<context:include-filter type="regex" expression="com.hc9.service.*" /> -->
<!-- 		<context:include-filter type="regex" expression="com.hc9.controller.*" /> -->
<!-- 	</context:component-scan> -->
	
	<!-- 修改之后才能启动spring context -->
	<context:component-scan base-package="com.hc9">
		<context:include-filter type="regex" expression="service.*" />
		<context:include-filter type="regex" expression="controller.*" />
	</context:component-scan>
	
	<mvc:annotation-driven />
	<aop:aspectj-autoproxy />

	<!-- 动态视图解析器配置 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 上传文件大小、缓存、编码 配置 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" />
		<property name="maxUploadSize" value="10485760000" />
		<property name="maxInMemorySize" value="40960" />
	</bean>

	<!-- 静态资源访问路径 -->
	<mvc:resources location="/resources/" mapping="/resources/**" />
	<mvc:resources location="/upload/user/" mapping="/user/**" />
	<mvc:resources location="/upload/" mapping="/upload/**" />
	<mvc:resources location="/ueditor/" mapping="/ueditor/**" />

	<!-- Controller返回json数据配置 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html; charset=UTF-8</value>
						</list>
					</property>
				</bean>
				<bean
					class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value>
						</list>
					</property>
				</bean>

			</list>
		</property>
	</bean>

	<!-- 登录拦截器 -->
	<bean id="urlMapping" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="interceptors">
			<list>
				<bean class="com.hc9.common.interceptor.CheckLoginInterceptor" />
				<bean class="com.hc9.common.interceptor.OperationLoggingInterceptor" init-method="init"/>
			</list>
		</property>
	</bean>

</beans>